<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="seleccionado">Materia: {{seleccionado.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item-sliding *ngFor="let estudiantesItem of estudiantes">
    <ion-item>
      <ion-item class="fixed-size-item">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <h2>{{estudiantesItem.nombre_estudiante}}</h2>
      </ion-item>
      <ion-label>
        <ion-card-content>
          <h2 style="margin-left: 17px;">Faltas  {{estudiantesItem.faltas}}</h2>
          <ion-item>
          <h2><strong>Notas</strong></h2>
          </ion-item>
          <h2 style="margin-left: 17px;">Primer parcial  {{estudiantesItem.parcial_1}}</h2>
          <h2 style="margin-left: 17px;">Segundo parcial  {{estudiantesItem.parcial_2}}</h2>
          <h2 style="margin-left: 17px;">Tercer parcial  {{estudiantesItem.parcial_3}}</h2>
          <h2 style="margin-left: 17px;">Definitiva  <strong>{{estudiantesItem.definitiva |number:'1.0-2'}}</strong></h2>
        </ion-card-content>
      </ion-label>
  </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrarEstudiantes(estudiantesItem);$event.stopPropagation();">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
      <ion-item-option routerLink="../editarestudiante/{{estudiantesItem.id}}">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="./nuevoestudiante" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

