<ion-tabs>

  <ion-tab-bar style="height: 100px;" slot="bottom">

    <ion-tab-button style="font-size: 20px;" tab="trabajos" href="/trabajos/trabajos">
      <ion-icon style="font-size: 50px;" aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Tabajos</ion-label>
    </ion-tab-button>

    <ion-tab-button style="font-size: 20px;" tab="balance" href="/balance/balance">
      <ion-icon style="font-size: 50px;" aria-hidden="true" name="cash-outline"></ion-icon>
      <ion-label>Balance</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
