<ion-content>
  <form [formGroup]="trabajoganadoForm" (ngSubmit)="guardarTrabajoganado()">
    <ion-item>
      <ion-label>Jornaleros</ion-label>
      <ion-select formControlName="jornalero" (ionChange)="onJornaleroChange()">
        <ion-select-option *ngFor="let jornalero of jornaleros" [value]="jornalero.nombre">
          {{ jornalero.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de trabajo</ion-label>
      <ion-select formControlName="tipotrabajo">
        <ion-select-option *ngFor="let tipotrabajo of tipotrabajo" [value]="tipotrabajo.nombre">
          {{ tipotrabajo.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p>Digite el valor ejemplo: valor kilogramo de cafe o valor día de trabajo, según corresponda el tipo de trabajo</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" formControlName="valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" formControlName="cantidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Total</ion-label>
      <ion-input type="number" formControlName="total" [disabled]="true"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!trabajoganadoForm.valid">
      Guardar Ingreso
    </ion-button>
  </form>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registros de trabajos ganados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="filteredTrabajoganado.length > 0; else noTrabajoganado">
        <ion-item-sliding *ngFor="let trabajoganado of filteredTrabajoganado">
          <ion-item>
            <ion-label>
              <p>
                Jornalero: {{ trabajoganado.jornalero }} |
                Total: {{ trabajoganado.total }}
              </p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <ng-template #noTrabajoganado>
        <ion-text color="medium">
          <p>No hay trabajos ganados registrados</p>
        </ion-text>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
