<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Variedades de cafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/nueva-variedad" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list color="">
    <ion-item color ="" *ngFor="let variedadesItem of variedades$" (click)="selectVariedad(variedadesItem.id)">
      <ion-label>
        <!-- <h2>Id:</h2> <p>{{variedadesItem.id}}</p> -->
        <h2>Nombre:</h2> <p>{{variedadesItem.nombre}}</p>
        <h2>Descripcion:</h2> <p>{{variedadesItem.descripcion}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
