.perfil-avatar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .perfil-nombre {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .perfil-ocupacion {
    text-align: center;
    color: gray;
  }
  