<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/profile">Perfil</ion-item>
        <ion-item routerLink="/settings">Configuración</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal con tabs -->
  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tu aplicación</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-content>
    <!-- Este router-outlet mantiene las rutas de las pestañas -->
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
