<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nueva materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="guardar(nuevaMateria)" #nuevoForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ID:</ion-label>
        <ion-input type="text" name="id" [(ngModel)]="nuevaMateria.id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre de la materia:</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="nuevaMateria.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Programa:</ion-label>
        <ion-select required value="{{nuevaMateria.programa}}" [(ngModel)]="nuevaMateria.programa" name="programa">
          <ion-select-option value="Ingenieria informatica">Ingenieria informatica</ion-select-option>
          <ion-select-option value="Administracion de empresas">Administracion de empresas</ion-select-option>
          <ion-select-option value="Licenciatura en español">Licenciatura en español</ion-select-option>
          <ion-select-option value="Musica">Musica</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Semestre:</ion-label>
        <ion-select name="semestre" [(ngModel)]="nuevaMateria.semestre">
          <ion-select-option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horario:</ion-label>
        <ion-input type="text" name="horario" [(ngModel)]="nuevaMateria.horario" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Salon:</ion-label>
        <ion-input type="text" name="salon" [(ngModel)]="nuevaMateria.salon" required></ion-input>
      </ion-item>

    </ion-list>
    
    <ion-button color="primary" type="submit" [disabled]="!this.nuevoForm.form.valid">
      Guardar
    </ion-button>
    
  </form>
</ion-content>

