<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/nuevo-tipo-gasto" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list color="">
    <ion-item color ="" *ngFor="let gastosItem of Gastos$" (click)="selectGasto(gastosItem.id)">
      <ion-label>
        <!-- <h2>Id:</h2> <p>{{variedadesItem.id}}</p> -->
        <h2>descripcion:</h2> <p>{{gastosItem.descripcion}}</p>
        <h2>valor:</h2> <p>{{gastosItem.valor}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>