<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="seleccionado">
  <form (ngSubmit)="editar(seleccionado)" #editarForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ID:</ion-label>
        <ion-input aria-label="ID" type="text" readonly="true" name="id" [(ngModel)]="seleccionado.id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre del estudiante:</ion-label>
        <ion-input type="text" name="nombre_estudiante" [(ngModel)]="seleccionado.nombre_estudiante" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Faltas:</ion-label>
        <ion-input type="text" name="faltas" [(ngModel)]="seleccionado.faltas" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Parcial 1:</ion-label>
        <ion-input type="number" name="parcial_1" [(ngModel)]="seleccionado.parcial_1" (ngModelChange)="onParcialChange()" required max="5"></ion-input>
      </ion-item>
      <!-- Mensaje de error para Parcial 1 -->
      <div *ngIf="editarForm.controls['parcial_1']?.errors?.['max'] && editarForm.controls['parcial_1']?.touched">
        <p  style="color:red; margin-left: 15px;">La nota no puede ser mayor a 5.0.</p>
      </div>

      <ion-item>
        <ion-label position="floating">Parcial 2:</ion-label>
        <ion-input type="number" name="parcial_2" [(ngModel)]="seleccionado.parcial_2" (ngModelChange)="onParcialChange()" required max="5"></ion-input>
      </ion-item>
      <!-- Mensaje de error para Parcial 1 -->
      <div *ngIf="editarForm.controls['parcial_2']?.errors?.['max'] && editarForm.controls['parcial_2']?.touched">
        <p  style="color:red; margin-left: 15px;">La nota no puede ser mayor a 5.0.</p>
      </div>

      <ion-item>
        <ion-label position="floating">Parcial 3:</ion-label>
        <ion-input type="number" name="parcial_3" [(ngModel)]="seleccionado.parcial_3" (ngModelChange)="onParcialChange()" required max="5"></ion-input>
      </ion-item>
      <!-- Mensaje de error para Parcial 1 -->
      <div *ngIf="editarForm.controls['parcial_3']?.errors?.['max'] && editarForm.controls['parcial_3']?.touched">
        <p  style="color:red; margin-left: 15px;">La nota no puede ser mayor a 5.0.</p>
      </div>

      <ion-item>
        <ion-label position="floating">Definitiva:</ion-label>
        <span style="margin-left: 77px;" class="definitiva-value">{{ seleccionado.definitiva | number:'1.0-1' }}</span>
      </ion-item>

      
      </ion-list>
    
    <ion-button color="primary" type="submit" *ngIf="seleccionado" [disabled]="!this.editarForm.form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>

