<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nuevoTipoGasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="nuevo(nuevotipogasto)" #nuevoForm="ngForm">
    <ion-list>
        <ion-item>
            <ion-label position="floating">Id</ion-label>
            <ion-input type="text" name="id" [(ngModel)]="nuevotipogasto.id" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input type="text" name="descripcion" [(ngModel)]="nuevotipogasto.descripcion" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input type="text" name="valor" [(ngModel)]="nuevotipogasto.valor" required></ion-input>
        </ion-item>
    <div padding>
        <ion-button color="primary" expand="block" type="submit" [disabled]="!nuevoForm.form.valid">Guardar</ion-button>
    </div>
    </ion-list>
</form>
</ion-content>
